.finishRegisteringBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 6rem 0 0 0;
}

.finishRegisteringBox {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 63rem;
    height: 39rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.finishRegisteringForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 15px;
    padding: 20px;
}

.finishRegisteringDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 60px 0;
}

.finishRegisteringDescription h1 {
    margin: 0;
}

.finishRegisteringDescription p {
    margin: 10px 0 0 0;
}

.finishRegisteringButtonArea {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    gap: 0.8rem;
}

.finishRegisteringButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.finishRegisteringButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.finishRegisteringButton:hover::after {
    transform: scale(4);
}

.finishRegisteringButton:hover {
    border-color: #666666;
    background: #292929;
}
