.mainHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: #fff;
    width: 97%;

    z-index: 100; 
    overflow: hidden;

    margin-bottom: auto;
}

.headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rightLinks  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.mainHeader a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease;
}

/* Buttons */
.auth-buttons button{
    padding: 10px;

    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;

    outline: none;
    position: relative;
    overflow:hidden ;
    
    width: 120%;
    margin: 0 10px;
}

.auth-buttons{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin-right: 90px;
}

.login {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.register{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.login::after, 
.register::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.login:hover::after, .register:hover::after {
    transform: scale(4);
}

.login:hover {
    border-color: #666666;
    background: #292929;
}

.register:hover {
    background: #6303FF;
    color: #fff;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 25px;
}



/* Hamburger nav */
.burgerClose {
    display: none;
}

@media (max-width: 968px) {

    .auth-buttons{
        display: none;
    }

    .rightLinks {
        display: none;
    }

    .toggleHamburger {
        display: flex;
        align-items: center;
        /* margin-right: 20px; */
    }

    .toggleHamburger button:hover {
        background-color: transparent;
    }


    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 2rem;
        height: 2rem;

        background: transparent;
        border: none;
        cursor: pointer;
        
        padding: 0;
        margin-right: 50px;
        z-index: 1100; 
    }



    .burger:focus {
        outline: none;
    }

    .burger div {
        width: 2rem;
        height: 0.25rem;
        background: #000;
        border-radius: 10px;
        transition: all 0.3s linear;
        transform-origin: 1px;
        margin-right: 0px;
    }

    .burger-open div {
        background: #0D0C1D;
    }

    .burger div:first-child {
        transform: rotate(0);
    }

    .burger-open div:first-child {
        transform: rotate(45deg);
    }

    .burger div:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
    }

    .burger-open div:nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
    }

    .burger div:nth-child(3) {
        transform: rotate(0);
    }

    .burger-open div:nth-child(3) {
        transform: rotate(-45deg);
    }

}

.goog-te-combo {
    border-radius:16px;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    height: 0 !important;
    border-bottom: 0 !important;
    box-shadow: none !important;
}