.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 4rem 0 7rem 0;
}

.loginBox {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    width: 74rem;
    height: 47rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 15px;
    padding: 20px;
}

.loginDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.loginDescription h1 {
    margin: 0;
}

.loginDescription p {
    margin: 10px 0 0 0;
}

.loginForm a {
    font-family: 'Manrope';
    font-size: 0.9rem;
    text-align: end;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.loginForm a:hover {
    color: #390094;
}

.loginForm input{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.loginPasswordArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showPasswordBtn {
    border: none;
    background-color: #fff;
}

.showSymbol img {
    width: 80%;
}

.showPasswordBtn:hover {
    cursor: pointer;
    background-color: #fff;
}

.loginButtonArea {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    gap: 0.8rem;
}

.imageArea {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.imageArea img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    max-width: 250%;
    max-height: 150%;
    object-fit: cover;
}

.loginButton, .goToRegisterButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #232323;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.goToRegisterButton {
    background-color: #ffffff;
    color: #1a1a1a;
}

.loginButton::after, .goToRegisterButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.loginButton:hover::after, .goToRegisterButton:hover::after {
    transform: scale(4);
}

.loginButton:hover {
    border-color: #666666;
    background: #292929;
}

.goToRegisterButton:hover {
    border-color: #9b62f8;
    background: #5735df;
    color: #fff;
}

.headerSpace {
    height: 81px;
}

.logInTitle {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.logInTitle h1 {
    margin: 0;
    font-size: 2rem;
}

.animated-text {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    height: 2.6rem;
    display: inline-block;
    min-width: 140px;
    overflow: hidden;
    text-align: right;
    color: #5735df;
}

.text {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    right: 10px;
    transform: translateY(100%);
    animation: text-fade-move 27s infinite;
}

.text:nth-child(1) { animation-delay: 0s; }
.text:nth-child(2) { animation-delay: 3s; }
.text:nth-child(3) { animation-delay: 6s; }
.text:nth-child(4) { animation-delay: 9s; }
.text:nth-child(5) { animation-delay: 12s; }
.text:nth-child(6) { animation-delay: 15s; }
.text:nth-child(7) { animation-delay: 18s; }
.text:nth-child(8) { animation-delay: 21s; }
.text:nth-child(9) { animation-delay: 24s; }

@keyframes text-fade-move {
    0%, 11% { 
        opacity: 0;
        transform: translateY(100%);
    }
    11%, 22% { 
        opacity: 1;
        transform: translateY(0);
    }
    22%, 33% { 
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* @media (max-width: 768px) {
    .animated-text, h1 {
        font-size: 1.5rem;
    }
} */
    


