.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 5rem 0 7rem 0;
}

.loginBox {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 63rem;
    height: 39rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 15px;
    padding: 20px;
}

.loginDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 60px 0;
}

.loginDescription h1 {
    margin: 0;
}

.loginDescription p {
    margin: 10px 0 0 0;
}

.loginForm a {
    font-family: 'Manrope';
    font-size: 0.9rem;
    text-align: end;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.loginForm a:hover {
    color: #390094;
}

.loginForm input{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.loginPasswordArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showPasswordBtn {
    border: none;
    background-color: white;
}

.showSymbol img {
    width: 80%;
}

.showPasswordBtn:hover {
    cursor: pointer;
    background-color: white;
}

.loginButtonArea {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    gap: 0.8rem;
}

.imageArea {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.imageArea img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    max-width: 250%;
    max-height: 150%;
    object-fit: cover;
}

.loginButton, .goToRegisterButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

/* Override previous BG color and font color selections for register redirect button */
.goToRegisterButton {
    background-color: #ffffff;
    color: #1a1a1a;
}

.loginButton::after, .goToRegisterButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.loginButton:hover::after, .goToRegisterButton:hover::after {
    transform: scale(4);
}

.loginButton:hover {
    border-color: #666666;
    background: #292929;
}

.goToRegisterButton:hover {
    border-color: #9b62f8;
    background: #6303FF;
    color: #fff;
}

.headerSpace {
    height: 81px;
}