.landingPageContent{
    position: relative;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth;

    --img-scale: 1.001;
    --title-color: #000;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
}

.landingTexts{
    position: absolute;
}

.landingPageContent h1{
    font-size: 5.8rem;
    font-weight: bold;
    margin: 5.5rem 1rem 0 1rem;
    line-height: 1.2;
    color: #fff;
}

.landingSlogan{
    font-size: 1.85rem;
    padding: 1px 5px;
    border-radius: 10px;
    color: #fff;
    /* backdrop-filter: blur(10px) saturate(70%); */
}

.landingSlogan p{
    z-index: 10;
    margin: 6px;
    font-weight:600;
    font-family: 'Manrope';
}   

.landingImg {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    object-position: 100%;
    opacity: 0.6;
    z-index: 0;
}

#contactPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSpace {
    height: 81px;
}

.landingQuestion{
    background-color: rgb(35, 35, 35);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
    margin: 40px 0 40px 0;
    padding: 15px 25px 15px 25px;
    font-size: 2.8rem;
    color: #fff;
}

@keyframes scale-up {
    from {
        scale: .8;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .landingQuestion {
        animation: scale-up linear both;
        animation-timeline: view();
        animation-range: 25vh 75vh;
    }
}

.landingCardContainer {
    position: relative;
    border-radius: 7px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    color: #000;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    max-width: 430px;
}

.landingCardContainer img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}
.landingCardContainer h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 25px;
    color: var(--title-color);
}
.landingCardContainer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666E;
}
.landingCardContainer a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}
.landingCardContainer a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}
.landingCardContainer:has(:hover, :focus) {
    --img-scale: 1.1;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: 10px 10px 60px #353434,
    -10px -10px 60px #dfb6f1;
}

.landingCards {
    display: flex;
    gap: 150px;
}

.read-more {
    font-family: 'Manrope';
}

.landingPageContent, #aboutPage {
    position: relative;
    width: 100%;
}

@media (max-width: 968px) {
    .landingPageContent {
        height: auto;
    }

    .landingTexts {
        margin: 0 auto;
        width: 100%;
    }

    .landingPageContent h1 {
        font-size: 2.5rem;
        margin: 1.5rem 1rem;
    }

    .landingSlogan {
        font-size: 1rem;
        padding: 5px;
    }

    .landingImg {
        height: 20vh;
    }

    .landingCards {
        flex-direction: column;
        gap: 10px;
    }

    .landingCardContainer {
        margin-top: 50px;
    }
}