#aboutPage {
    padding-top: 20px;
}

.aboutBody{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 100px;
    margin-right: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #fff;
}

.leftAboutBody, .rightAboutBody {
    flex: 1;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.leftAboutBody h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.leftAboutBody h1 em {
    display: block;
    font-style: italic;
    font-size: 3.5rem;
}

.rightAboutBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rightAboutBody p {
    font-weight: normal;
    line-height: 1.6;
    text-align: justify;
}

/* Log In Button */
.aboutLogInButton {
    padding: 10px;
    background-color: #000;
    color: #ffffff;

    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;

    outline: none;
    position: relative;
    overflow: hidden;
    
    width: 120%;
    margin: 0 10px;
}

.aboutLogInButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.aboutLogInButton:hover::after {
    transform: scale(4);
}

.aboutLogInButton:hover {
    border-color: #666666;
    background: #292929;
}

.teamAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 2rem;
    margin-bottom: 15
    rem;

    color: #fff;
}

.teamAbout h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 7px;

    background-color: rgba(255, 255, 255, 0.3);
}

.teamIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}

.teamMember h3 {
    font-size: 1.9rem;
    margin-top: 1rem;
}

.teamMember img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px 15px;
}

.teamMember a img{
    height: 35px;
    width: 35px;
}

.teamSocials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 968px) {
    .aboutBody {
        flex-direction: column;
        font-size: 1rem;
        margin-left: 50px;
        margin-right: 50px;
    }

    .leftAboutBody h1 {
        font-size: 2.5rem;
    }

    .leftAboutBody h1 em {
        font-size: 3rem;
    }

    .teamIcons {
        flex-direction: column;
    }
}