.aboutBody{
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 20rem;

    display: flex;
    align-items: center;
    padding: 2rem;
    color: #fff;
}

.leftAboutBody, .rightAboutBody {
    flex: 1;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.leftAboutBody h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.leftAboutBody h1 em {
    display: block;
    font-style: italic;
    font-size: 3.5rem;
}

.rightAboutBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.rightAboutBody p {
    font-weight: normal;
    line-height: 1.6;
}

/* Log In Button */
.aboutLogInButton {
    padding: 15px 30px;
    background-color: #000;
    color: #ffffff;

    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.4s ease;

    outline: none;
    position: relative;
    overflow: hidden;
    
    width: 150px;
}

.aboutLogInButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.aboutLogInButton:hover::after {
    transform: scale(4);
}

.aboutLogInButton:hover {
    border-color: #666666;
    background: #292929;
}

.teamAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    color: #fff;
}

.teamAbout h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}

.teamMember h3 {
    font-size: 1.9rem;
    margin-top: 1rem;
}

.teamMember img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}