.footer {
    position:absolute;
    bottom: 0;
    width: 100vw;
    margin-top: 50px;
    background-color: rgba(60, 57, 64, 0.3);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 20%;
    text-align: center;
}

.footerLinks a{
    color: white;
    text-decoration: none;
}


.footerLinks h2{
    font-weight: normal;
}

/* position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;  */