.forgotBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 1rem 0 2rem 0;
}

.return {
    text-decoration: none;
}

.return span {
    display: flex;
    color: #6303FF;
    font-size: 40px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.return span:hover {
    color: #390094;
    font-weight: bold;
    transform: translateY(-3px);
}

.forgotBox {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 78rem;
    height: 57rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.forgotForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.forgotDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 60px 0;
}

.forgotDescription h1 {
    margin: 0;
}

.forgotDescription p {
    margin: 10px 0 0 0;
}

.securityQuestionArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerInputArea {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.showAnswerArea {
    display: flex;
    margin: 8px 0 0 0;
    gap: 8px;
}

.showAnswerArea input {
    margin: 0;
}

.forgotButtonArea {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    gap: 0.8rem;
}

.imageArea {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.imageArea img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    max-width: 250%;
    max-height: 150%;
    object-fit: cover;
}

.forgotButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.forgotButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.forgotButton:hover::after {
    transform: scale(4);
}

.forgotButton:hover {
    border-color: #666666;
    background: #292929;
}

.forgotButton:disabled {
    color: #ebebeb;
    border-color: #8d8d8d;
    background: #7d7d7d;
    cursor: not-allowed;
}

.forgotButton:disabled:hover {
    border-color: #8d8d8d;
    background: #7d7d7d;
    transition: none;
}

.forgotButton:disabled:hover::after {
    transform: none;
    background: none;
    transition: none;
}

.forgotButton:disabled::after {
    transition: none;
}

.headerSpace {
    height: 81px;
}