.checkBody{
    padding-top: 200px;
}

.checkBody h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 40px;
    font-size: 2.5rem;
}
.contactBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 125px;
    color: white;
    margin-bottom: 100px;
}

.contactIcon svg{
    width: 60px;
}

.leftContactPageContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftContactPageContent h1 {
    text-align: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contactIcon {
    display: flex;
    align-items: center;
    gap: 30px;
}

.rightContactPageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 50px 35px 50px;
    color: #fff;

    border-radius: 7px;

    background-color: rgba(255, 255, 255, 0.3);
}

.rightContactPageContent textarea {
    resize: vertical; 
    max-height: 250px;
    padding: 10px;
    border: 1px solid #ce93d8;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 16px;
}

.rightContactPageContent input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ce93d8;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 16px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameInputs {
    display: flex;
    gap: 15px;
}

.nameInputArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submitButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.submitButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.submitButton:hover::after {
    transform: scale(4);
}

.submitButton:hover {
    border-color: #666666;
    background: #292929;
}

@media (max-width: 968px) {
    .contactBody {
        flex-direction: column;
        margin: 50px;
    }

    .leftContactPageContent {
        gap: 10px;
    }

    .rightContactPageContent {
        padding: 20px 30px 15px 30px;
    }

    .nameInputs {
        flex-direction: column;
    }

    .submitButton {
        width: 100%;
    }
}