.registerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 1rem 0 2rem 0;
}

.registerBox {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 74rem;
    height: 47rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10px;
    padding: 30px;
}

.registerDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 0 8px 0;
}

.registerDescription a {
    color: black;
}

.registerDescription h1 {
    margin: 0;
}

.registerDescription p {
    margin: 10px 0 0 0;
}

.showSecret {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showPassword1Btn, .showPassword2Btn, .showPassword3Btn {
    border: none;
    background-color: white;
}

.showSymbol img {
    width: 80%;
}

.questionArea p {
    text-align: center;
    margin: 8px 0 0 0;
}

.imageArea {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.imageArea img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    max-width: 250%;
    max-height: 150%;
    object-fit: cover;
}

.registerButtonArea {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.registerButton {
    margin: 15px 0 0 0;
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.registerButton:disabled {
    color: #ebebeb;
    border-color: #8d8d8d;
    background: #7d7d7d;
    cursor: not-allowed;
}

.registerButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.registerButton:hover::after {
    transform: scale(4);
}

.registerButton:hover {
    border-color: #666666;
    background: #292929;
}

.registerButton:disabled:hover {
    border-color: #8d8d8d;
    background: #7d7d7d;
    transition: none;
}

.registerButton:disabled:hover::after {
    transform: none;
    background: none;
    transition: none;
}

.registerButton:disabled::after {
    transition: none;
}

.headerSpace {
    height: 81px;
}