html, body, #root {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding-top: 40px;
  background: linear-gradient(#6303FF 0%, #000000 100%);
  background-repeat:no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
}


