html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#5735df 0%, #000000 100%);
  background-repeat:no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
  top: 0px !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative;
}
